page-movie-detail {
    .room {
        margin-top: 20px;
    }

    .sessions ion-chip ion-label {
        color: yellow;
    }

    .theaters {
        margin-bottom: 1em;
    }

    .movie-chart .image {
        border-radius: 0.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .imdb-rating {
        margin-bottom: 1em;
    }

    .imdb-rating .number {
        font-size: 20px;
    }
}
