<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{movie.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img [src]="movie.images[0].url" />
  <div>
    <strong>Classificação:</strong> {{movie.contentRating}}
  </div>
  <div>
    <strong>Duração:</strong> {{movie.duration}} min
  </div>
  <div *ngIf="genre && genre.length > 0">
    <strong>Gênero:</strong><span *ngFor="let genre of genres">{{genre}}</span>
  </div>

  <div class="room" *ngFor="let room of movie.rooms">
    {{room.name}}
    <div *ngFor="let session of room.sessions">
      <div><strong>Tipo:</strong> <span *ngFor="let type of session.types"> {{type.name}}</span></div>
      <div>{{session.date.dayOfWeek}} {{session.date.dayAndMonth}}/{{session.date.year}}</div>
      <div><strong>Hora:</strong> {{session.time}}</div>
    </div>
  </div>
  <!-- <button ion-button (click)="buyTickets()">comprar ingresso</button> -->
</ion-content>
