<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find a Theater</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item>
    <ion-label>Estado:</ion-label>
    <ion-select [(ngModel)]="state">
      <ion-option
        *ngFor="let state of states"
        [value]="state.uf">{{state.name}}</ion-option>
    </ion-select>

  </ion-item> -->

  <movie [movie]="movie" *ngFor="let movie of movies"></movie>
</ion-content>
