<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find a Theater</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="message-row"
      *ngIf="errorMessage">
      {{errorMessage}}
    </ion-row>

    <ion-row class="message-row"
      *ngIf="!city">
      <div>
        <button ion-button
          (click)="getLocation()">Get my location</button>
      </div>
    </ion-row>

    <ion-row class="message-row clickable"
      *ngIf="city"
      (click)="showLocationModal()">
        <ion-icon name="pin"></ion-icon>{{city}}
    </ion-row>

    <ion-row *ngIf="city">
      <ion-col col-6 col-md-4 col-lg-2 *ngFor="let movie of movies">
          <section class="movie-chart"
            (click)="goToDetail(movie.id)">
            <img [src]="movie.img" />
            <div>{{movie.name}}</div>
          </section>
        <!-- <movie (click)="goToDetail(movie.id)" [movie]="movie"></movie> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
