.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.select-container {
  margin: 1em;
}

ion-item {
  --border-radius: 1em;
  --background: rgba(255, 255, 255, 0.2);
  --border-style: none;
  color: white;
  margin-bottom: 0.2em;
  animation-name: fadeTop;
  animation-duration: 0.5s;
}

ion-list {
  background: inherit;
}

ion-list-header {
  --color: white;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeTop {
  from { top: -42px; }
  to { top: 0; }
}