session-information {
    .session-information .theaters .rooms {
        margin-bottom: 1em;
        margin-left: 1.5em;
    }

    .session-information .theaters .rooms .sessions {
        margin-bottom: 0.3em;
        margin-left: 1.5em;
    }
}
